n8n/workflows/ai_clip_factory.json
{
  "name": "AI Clip Factory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-clip-factory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook Intake",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1340,
        260
      ],
      "webhookId": "ai-clip-factory"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = items[0]?.json?.body ?? items[0]?.json ?? {};\nif (!body.source_url) {\n  throw new Error('source_url is required');\n}\nreturn [{\n  json: {\n    source_url: body.source_url,\n    content_type: body.content_type ?? 'podcast',\n    platform_targets: ['youtube_shorts', 'tiktok'],\n    language_mode: 'same_as_source',\n    style: 'clean_editorial',\n    clip_count_target: Number(body.clip_count_target ?? 8),\n    auto_publish: false\n  }\n}];"
      },
      "id": "Normalize",
      "name": "Normalize Intake",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clip-api:8000/v1/jobs",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "CreateJob",
      "name": "Create Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -900,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}/ingest/start",
        "options": {}
      },
      "id": "StartIngest",
      "name": "Start Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "RespondAccepted",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -460,
        260
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "WaitIngest",
      "name": "Wait Ingest Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -240,
        260
      ],
      "webhookId": "84b7cb7b-f33d-44a9-88ff-5d47763e2201"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}",
        "options": {}
      },
      "id": "PollIngest",
      "name": "Poll Ingest Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20,
        260
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const job = items[0]?.json ?? {};\nif (job.status === 'failed') {\n  throw new Error(job.last_error ?? 'Ingest failed');\n}\nreturn items;"
      },
      "id": "GuardIngestFailure",
      "name": "Guard Ingest Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ingest-complete-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ingested",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "IsIngestComplete",
      "name": "Is Ingest Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        420,
        260
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}/transcript/start",
        "options": {}
      },
      "id": "StartTranscript",
      "name": "Start Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        180
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "WaitTranscript",
      "name": "Wait Transcript Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        180
      ],
      "webhookId": "4c60407a-bd8e-4108-9552-ac41533e2621"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}",
        "options": {}
      },
      "id": "PollTranscript",
      "name": "Poll Transcript Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1110,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const job = items[0]?.json ?? {};\nif (job.status === 'failed') {\n  throw new Error(job.last_error ?? 'Transcript failed');\n}\nreturn items;"
      },
      "id": "GuardTranscriptFailure",
      "name": "Guard Transcript Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "transcript-complete-condition",
              "leftValue": "={{ $json.status }}",
              "rightValue": "transcribed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "IsTranscriptComplete",
      "name": "Is Transcript Complete",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1570,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}/rank",
        "options": {}
      },
      "id": "Rank",
      "name": "Rank Segments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}/select",
        "options": {}
      },
      "id": "Select",
      "name": "Select Clips",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const source = items[0]?.json ?? {};\nconst jobId = source.job_id;\nconst clipIds = source.selected_clip_ids ?? [];\nreturn clipIds.map((clipId) => ({ json: { job_id: jobId, clip_id: clipId } }));"
      },
      "id": "ExpandClips",
      "name": "Expand Clip IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}/clips/{{$json[\"clip_id\"]}}/enqueue-render",
        "options": {}
      },
      "id": "EnqueueRender",
      "name": "Enqueue Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2470,
        100
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const first = items[0]?.json ?? {};\nreturn [{ json: { job_id: first.job_id, queued_clips: items.map((item) => item.json.clip_id) } }];"
      },
      "id": "Summarize",
      "name": "Summarize Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://clip-api:8000/v1/jobs/{{$json[\"job_id\"]}}/manifest",
        "options": {}
      },
      "id": "Manifest",
      "name": "Fetch Manifest Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2930,
        100
      ]
    }
  ],
  "connections": {
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intake": {
      "main": [
        [
          {
            "node": "Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job": {
      "main": [
        [
          {
            "node": "Start Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Ingest": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Accepted": {
      "main": [
        [
          {
            "node": "Wait Ingest Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Ingest Poll": {
      "main": [
        [
          {
            "node": "Poll Ingest Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Ingest Status": {
      "main": [
        [
          {
            "node": "Guard Ingest Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Ingest Failure": {
      "main": [
        [
          {
            "node": "Is Ingest Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ingest Complete": {
      "main": [
        [
          {
            "node": "Start Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Ingest Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Transcript": {
      "main": [
        [
          {
            "node": "Wait Transcript Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Transcript Poll": {
      "main": [
        [
          {
            "node": "Poll Transcript Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Transcript Status": {
      "main": [
        [
          {
            "node": "Guard Transcript Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Transcript Failure": {
      "main": [
        [
          {
            "node": "Is Transcript Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Transcript Complete": {
      "main": [
        [
          {
            "node": "Rank Segments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Transcript Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank Segments": {
      "main": [
        [
          {
            "node": "Select Clips",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Clips": {
      "main": [
        [
          {
            "node": "Expand Clip IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Clip IDs": {
      "main": [
        [
          {
            "node": "Enqueue Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue Render": {
      "main": [
        [
          {
            "node": "Summarize Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Queue": {
      "main": [
        [
          {
            "node": "Fetch Manifest Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "3fd57733-03cb-4ccd-b6bc-clipfactory-asyncpoll",
  "triggerCount": 0,
  "updatedAt": "2026-03-30T00:00:00.000Z"
}
